<footer class="footer">
    &copy;
    <% if (new Date().getFullYear() == 2018) { %>
        <%- new Date().getFullYear() %>
    <% } else { %>
        2018-<%- new Date().getFullYear() %>
    <% } %>

    <a href="<%- url_for() %>">sunny Loves You</a>
</footer>
<div class="back-to-top" id="backToTop" title="返回顶部">返回顶部</div>
